@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bpz4yy');
  src:  url('fonts/icomoon.eot?bpz4yy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bpz4yy') format('truetype'),
    url('fonts/icomoon.woff?bpz4yy') format('woff'),
    url('fonts/icomoon.svg?bpz4yy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-button-of-three-horizontal-lines:before {
  content: "\e900";
}
.icon-arrowhead-thin-outline-to-the-left:before {
  content: "\e901";
}
.icon-arrow-point-to-right:before {
  content: "\e902";
}
.icon-global-recycling-symbol1:before {
  content: "\e903";
}
.icon-medal:before {
  content: "\e904";
}
.icon-molecule:before {
  content: "\e905";
}
.icon-sun:before {
  content: "\e906";
}
